# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
venv/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*.orig

# Local workspace
.local/

# Data
*.FDI.backup
*.FDI.bak

# Output
out/
*.bak
*.tmp
*.cache
.coverage
coverage.xml
.pytest_cache/
*.backup_*
